.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.producto-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.producto-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.producto-card button {
    background: #d94d1a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.producto-card button:hover {
    background: #a72e10;
}
