img{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
section{
    padding: 60px 0;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.grid-galeria img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.grid-galeria img:hover {
    transform: scale(1.05);
}
